altgraph==0.17.3
attrs==22.2.0
colorama==0.4.6
future==0.18.3
ifaddr==0.2.0
iniconfig==2.0.0
packaging==23.0
pefile==2023.2.7
pip==23.0.1
pluggy==1.0.0
pyinstaller-hooks-contrib==2023.0
pyinstaller==5.8.0
pypiwin32==223
pytest==7.2.1
pywin32-ctypes==0.2.0
pywin32==305
setuptools==65.5.1
wheel==0.38.4
yeelight==0.7.10
colour~=0.1.5